@model Monografico.ViewModels.FacturaViewModel
@using System.Globalization;

@{
    NumberFormatInfo precision = new NumberFormatInfo();
    precision.NumberDecimalDigits = 2;
    decimal subtotal = 0;
    var facturaNo = "00" + Model.IdFactura;
}

<link href="~/css/factura-invoice.css" rel="stylesheet" />

<div class="receipt-content">
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-md-12">
                <div class="invoice-wrapper">
                    <div class="intro">
                        <img src="~/img/LogoWIT.png" width="80" height="80" alt="">
                    </div>
                    <div class="payment-info">
                        <div class="row">
                            <div class="col-sm-6">
                                <span>No. Factura</span>
                                <strong>@facturaNo</strong>
                            </div>
                            <div class="col-sm-6 text-right">
                                <span>Fecha</span>
                                <strong>@Model.Fecha</strong>
                            </div>
                        </div>
                    </div>

                    @*<div class="payment-details">
                            <div class="row">
                                <div class="col-sm-6">
                                    <span>Client</span>
                                    <strong>
                                        Andres felipe posada
                                    </strong>
                                    <p>
                                        989 5th Avenue <br>
                                        City of monterrey <br>
                                        55839 <br>
                                        USA <br>
                                        <a href="#">
                                            jonnydeff@gmail.com
                                        </a>
                                    </p>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <span>Payment To</span>
                                    <strong>
                                        Juan fernando arias
                                    </strong>
                                    <p>
                                        344 9th Avenue <br>
                                        San Francisco <br>
                                        99383 <br>
                                        USA <br>
                                        <a href="#">
                                            juanfer@gmail.com
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>*@

                    <div class="line-items">
                        <div class="headers clearfix">
                        </div>
                        <div class="items">
                            <table class="table table-borderless">
                                <thead class="headers clearfix">
                                    <tr>
                                        <th>#</th>
                                        <th>Producto</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Ordenes)
                                    {
                                        subtotal += item.Total;
                                        <tr>
                                            <td>1</td>
                                            <td>@item.Descripcion</td>
                                            <td>@item.Precio</td>
                                            <td>@item.Cantidad</td>
                                            <td>@item.Total</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="total text-right">
                            @*<p class="extra-notes">
                                    <strong>Extra Notes</strong>
                                    Please send all items at the same time to shipping address by next week.
                                    Thanks a lot.
                                </p>*@
                            <div class="field">
                                Subtotal <span>@string.Concat("RD", string.Format("{0:C}", subtotal))</span>
                            </div>
                            <div class="field">
                                ITBIS <span>@string.Concat("RD", string.Format("{0:C}", Model.PorcientoLey))</span>
                            </div>
                            <div class="field">
                                % Ley <span>@string.Concat("RD", string.Format("{0:C}", Model.PorcientoLey))</span>
                            </div>
                            <div class="field">
                                Descuento <span>@string.Concat("RD", string.Format("{0:C}", Model.Descuento))</span>
                            </div>
                            <div class="field grand-total">
                                Total <span>@string.Concat("RD", string.Format("{0:C}", Model.Monto))</span>
                            </div>
                        </div>

                        @*<div class="print">
                                <a href="#">
                                    <i class="fa fa-print"></i>
                                    Print this receipt
                                </a>
                            </div>*@
                    </div>
                </div>

                <div class="footer">
                    Copyright © 2014. company name
                </div>
            </div>
        </div>
    </div>
</div>