@model Monografico.ViewModels.FacturaViewModel

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Metodo de pago:</label>
            <select id="metodo-pago" class="custom-select">
                <option value="Efectivo">Efectivo</option>
                <option value="Tarjeta">Tarjeta</option>
            </select>
        </div>
    </div>
</div>

<div id="efectivo" class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Total:</label>
            <input class="form-control" value="@Model.Monto" readonly />
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label>Pago</label>
            <input id="pago" class="form-control" type="number" min="0" value="0.00" />
        </div>
    </div>
</div>

<div id="efectivo-cambio" class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Cambio:</label>
            <input id="cambio" class="form-control" type="text" value="0.00" readonly />
        </div>
    </div>
</div>

<div id="tarjeta" class="row d-none">
    <div class="col-md-6">
        <div class="form-group">
            <label>Numero de tarjeta:</label>
            <input id="tarjeta" class="form-control" type="text" maxlength="4" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Tipo de tarjeta:</label>
            <select id="tipo-tarjeta" class="custom-select">
                <option value="Visa">Visa</option>
                <option value="Mastercard">Mastercard</option>
            </select>
        </div>
    </div>
</div>

<button id="confirm-pago" class="btn btn-primary">Confirmar pago</button>

<script>
    document.getElementById("metodo-pago").addEventListener('change', function (e) {
        var row = document.getElementById("tarjeta");
        var rowEf = document.getElementById("efectivo-cambio");
        var rowEfc = document.getElementById("efectivo");
        if (this.value === "Tarjeta") {
            row.classList.remove("d-none");
            rowEf.classList.add("d-none");
            rowEfc.classList.add("d-none");

        }
        else {
            row.classList.add("d-none");
            rowEf.classList.remove("d-none");
            rowEfc.classList.remove("d-none");
        }
    });

    document.getElementById("pago").addEventListener('change', function () {
        console.log("dex");
        var monto = @Model.Monto;
        var cambio = Number(this.value) - Number(monto);
        document.getElementById("cambio").value = cambio.toFixed(2);
    });

    document.getElementById("confirm-pago").addEventListener('click', function () {
        var ordenes = @Html.Raw(Json.Serialize(Model.Ordenes));
        console.log(ordenes);
        var model = {
            "IdFactura": @Model.IdFactura,
            "IdCuenta": @Model.IdCuenta,
            "IdMesa": @Model.IdMesa,
            "Mesa": @Model.Mesa,
            "Monto": @Model.Monto,
            "Itbis": @Model.Itbis,
            "PorcientoLey": @Model.PorcientoLey,
            "Descuento": @Model.Descuento,
            "Ordenes": ordenes,
            "Usuario": "@Model.Usuario",
            "MetodoPago": document.getElementById("metodo-pago").value,
            "Pago": document.getElementById("pago").value,
            "Tarjeta": document.getElementById("tarjeta").value,
            "TipoTarjeta": document.getElementById("tipo-tarjeta").value
        };

        console.log(model);
        
        $.ajax({
            method: 'POST',
            url: "@Url.Action("Create","Factura")",
            data: model,

            error: function () {
            },
            success: function () {
                setTimeout(function () {
                    window.location.replace("@Url.Action("Index","Cuenta", new { idMesa = Model.IdMesa })");
                }, 1000);
            }
        });
    });
</script>
