@model IEnumerable<Monografico.Models.AjusteInventario>
@{
    ViewData["Title"] = "Ajuste de inventario";
}

<div class="card">
    <div class="card-body">
        <div class="row mb-4">
            <div class="col-12">
                <h1>@ViewData["Title"]</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="ajusteinventario-datatable" style="width:100%" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Descripcion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CantidadAnterior)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CantidadActual)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Fecha)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Estado)
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<partial name="~/Views/Admin/PartialViews/_Modal.cshtml" />

<!-- Modal de confirmacion de eliminacion-->
<partial name="~/Views/Admin/PartialViews/_ModalDelete.cshtml" />

@section script {
    <script src="~/js/site.js"></script>

    <script>
        //Carga la tabla cuando el documento html esta cargado
        $(document).ready(() => {
            $('#ajusteinventario-datatable').DataTable({
                responsive: false,
                ajax: {
                    url: "@Url.Action("List","AjusteInventario")",
                    dataSrc: ''
                },
                columns: [
                    { data: 'descripcion', title: "Ítem", width: '20%' },
                    { data: 'cantidadAnterior' , width: '12%'},
                    { data: 'cantidadActual', width: '12%' },
                    {
                        data: 'fecha',
                        width: '10%',
                        render: function (data, type, row) {
                            return moment(data).format("MM/DD/YYYY");
                        }
                    },
                    { data: 'estado', width: '10%' },
                    {
                        data: 'idAjuste',
                        width: '10%',
                        render: function (data, type, row, meta) {
                            return '<div class="btn-group">' +
                                        '<button onclick="abrirModalEditar(' + data + ')" class="action-btn btn btn-secondary"><i class="fas fa-edit"></i></button>' +
                                        '<button onclick="abrirModalBorrar(' + data + ')" class="action-btn btn btn-secondary"><i class="fas fa-times"></i></button>' +
                                    '</div>';
                        }
                    }
                ]
            });
        });

        function abrirModalEditar(id) {
            agregarEditar(id, "@Url.Action("Edit","AjusteInventario")");
        }

        document.getElementById("botonEliminar").addEventListener('click', () => {
            eliminar("@Url.Action("Delete","AjusteInventario")", "ajusteinventario-datatable");
        });
    </script>
}
