@model IEnumerable<Monografico.Models.AjusteInventario>
@{
    ViewData["Title"] = "AjusteInventario";
}

<div class="card">
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-md-3">
                <!-- Button trigger modal -->
                @*<button type="button" class="btn btn-primary" onclick="abrirModalCrear();">
                    Agregar Inventario
                </button>*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="ajusteinventario-datatable" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.IdInventario)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Descripcion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CantidadAnterior)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CantidadActual)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Fecha)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Observacion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Estado)
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<partial name="~/Views/Admin/PartialViews/_Modal.cshtml" />

<!-- Modal de confirmacion de eliminacion-->
<partial name="~/Views/Admin/PartialViews/_ModalDelete.cshtml" />

@section script {
    <script src="~/js/site.js"></script>

    <script>
        //Carga la tabla cuando el documento html esta cargado
        $(document).ready(() => {
            $('#ajusteinventario-datatable').DataTable({
                responsive: false,
                ajax: {
                    url: "@Url.Action("List","AjusteInventario")",
                    dataSrc: ''
                },
                columnDefs: [
                    {
                        targets: 0,
                        visible: false
                    }
                ],
                columns: [
                    { data: 'idInventario' },
                    { data: 'descripcion' },
                    { data: 'cantidadAnterior' },
                    { data: 'cantidadActual' },
                    {
                        data: 'fecha',
                        render: function (data, type, row) {
                            return moment(data).format("MM/DD/YYYY");
                        }
                    },
                    { data: 'observacion' },
                    { data: 'estado' },
                    {
                        data: 'idAjuste',
                        render: function (data, type, row, meta) {
                            return '<input onclick="abrirModalEditar(' + data + ')" class="btn btn-primary" type="button" value="Edit" /> ' +
                            '<input onclick="abrirModalBorrar(' + data + ')" class="btn btn-danger" type="button" value="Borrar" />';
                        }
                    }
                ]
            });
        });

        @*function abrirModalCrear() {
            agregarCrear("@Url.Action("Create","AjusteInventario")");
        }*@

        function abrirModalEditar(id) {
            agregarEditar(id, "@Url.Action("Edit","AjusteInventario")");
        }

        document.getElementById("botonEliminar").addEventListener('click', () => {
            eliminar("@Url.Action("Delete","AjusteInventario")", "ajusteinventario-datatable");
        });
    </script>
}
