@model IEnumerable<Monografico.Models.Ingrediente>

@{
    ViewData["Title"] = "Producto";
}

@section link {
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />
}

<div class="card">
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-md-3">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" onclick="abrirModalCrear();">
                    Agregar Ingrediente
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="ingrediente-datatable" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.IdIngrediente)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Descripcion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Costo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LlevaInventario)
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<partial name="~/Views/Admin/PartialViews/_Modal.cshtml" />

<!-- Modal de confirmacion de eliminacion-->
<partial name="~/Views/Admin/PartialViews/_ModalDelete.cshtml" />

@section script {

    <environment include="Development">
        <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
        <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    </environment>
    <environment include="Production">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
        <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    </environment>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/js/site.js"></script>

    <script>

        //Carga la tabla cuando el documento html esta cargado
        $(document).ready(() => {
            $('#ingrediente-datatable').DataTable({
                ajax: {
                    url: "@Url.Action("List","Ingrediente")",
                    dataSrc: ''
                },
                columnDefs: [
                    {
                        targets: 0,
                        visible: false
                    }
                ],
                columns: [
                    { data: 'idIngrediente' },
                    { data: 'descripcion' },
                    { data: 'costo' },
                    {
                        data: 'llevaInventario',
                        render: function (data, type, row, meta) {
                            var text;
                            if (data)
                                text = "Si";
                            else
                                text = "No";
                            return text;
                        }
                    },
                    {
                        data: 'idIngrediente',
                        render: function (data, type, row, meta) {
                            return '<input onclick="abrirModalEditar(' + data + ')" class="btn btn-primary" type="button" value="Edit" /> ' +
                            '<input onclick="abrirModalBorrar(' + data + ')" class="btn btn-danger" type="button" value="Borrar" />';
                        }
                    }
                ]
            });
        });

        function abrirModalCrear() {
            agregarCrear("@Url.Action("Create","Ingrediente")");               
        }

        function abrirModalEditar(id) {
            agregarEditar(id, "@Url.Action("Edit","Ingrediente")");
        }

        document.getElementById("botonEliminar").addEventListener('click', () => {
            eliminar("@Url.Action("Delete","Ingrediente")", "ingrediente-datatable");
        });
    </script>
}