@model IEnumerable<Monografico.ViewModels.InventarioViewModel>

@{
    ViewData["Title"] = "Inventario";
}

@section link {

}

<div class="card">
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-md-3">
                <!-- Button trigger modal -->
                @*<a asp-action="List" asp-controller="Inventario">Link</a>
                <button type="button" class="btn btn-primary" onclick="abrirModalCrear();">
                    Agregar Inventario
                </button>*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="inventario-datatable" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.IdInventario)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IdProducto)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IdIngrediente)
                                </th>
                                <th>
                                    Descripcion
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaEntrada)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Cantidad)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Unidad)
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<partial name="~/Views/Admin/PartialViews/_Modal.cshtml" />

<!-- Modal de confirmacion de eliminacion-->
<partial name="~/Views/Admin/PartialViews/_ModalDelete.cshtml" />

@section script {
    <script src="~/js/site.js"></script>

    <script>
        //Carga la tabla cuando el documento html esta cargado
        $(document).ready(() => {
            $('#inventario-datatable').DataTable({
                responsive: false,
                ajax: {
                    url: "@Url.Action("List","Inventario")",
                    dataSrc: ''
                },
                columnDefs: [
                    {
                        targets: [0,1,2],
                        visible: false
                    }
                ],
                columns: [
                    { data: 'idInventario' },
                    { data: 'idProducto' },
                    { data: 'idIngrediente' },
                    { data: 'descripcion' },
                    { data: 'fechaEntrada' },
                    { data: 'cantidad' },
                    { data: 'unidad' },
                    {
                        data: 'idInventario',
                        render: function (data, type, row, meta) {
                            return '<input onclick="abrirModalEditar(' + data + ')" class="btn btn-primary" type="button" value="Ajuste de Inventario" /> ';
                        }
                    }
                ]
            });
        });

        function abrirModalCrear() {
            agregarCrear("@Url.Action("Create","Inventario")");
        }

        function abrirModalEditar(id) {
            agregarEditar(id, "@Url.Action("Create","AjusteInventario")");
        }

        document.getElementById("botonEliminar").addEventListener('click', () => {
            eliminar("@Url.Action("Delete","Inventario")", "inventario-datatable");
        });
    </script>
}