@model Monografico.ViewModels.CuentaViewModel

@{
    ViewData["Title"] = "Lista de mesas";
}

@section link {
    <environment include="Development"> 
        <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
        <link href="~/lib/select2-bootstrap4-theme-master/dist/select2-bootstrap4.min.css" rel="stylesheet" />
    </environment>
    <environment include="Production">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
        <link href="~/lib/select2-bootstrap4-theme-master/dist/select2-bootstrap4.min.css" rel="stylesheet" />
    </environment>
}


<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-5 col-xl-5 p-1">
                <div class="row">
                    <div class="col-md-12">
                        <!--Acciones-->
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <a asp-action="SeleccionMesa" asp-controller="Admin" class="btn btn-secondary btn-block">Mesas</a>
                            </div>
                            <div class="col-md-6">
                                <button id="cancelarcuentabtn" class="btn btn-danger btn-block">Cancelar cuenta</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label">Mesero</label>
                                <span>Uno ahi</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label">Mesa:</label>
                                <span>@Model.Mesa</span>
                            </div>
                        </div>

                        <!-- Ordenes -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive-sm">
                                    <table id="datatable" width="100%" class="table table-sm table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    IdCuenta
                                                </th>
                                                <th>
                                                    IdOrden
                                                </th>
                                                <th>
                                                    IdDetalle
                                                </th>
                                                <th>
                                                    IdProducto
                                                </th>
                                                <th>
                                                    Producto
                                                </th>
                                                <th>
                                                    Precio
                                                </th>
                                                <th>
                                                    Cantidad
                                                </th>
                                                <th>
                                                    Total
                                                </th>
                                                <th>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>

                            </div>
                        </div>

                        <!--Total-->
                        <div class="row mb-2">
                            <div class="col-md-12">
                                <div class="bg-secondary">
                                    <label>Total:</label>
                                    <span id="total-span" class="ml-auto">0</span>
                                </div>
                            </div>
                        </div>

                        <!--Acciones-->
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <button id="cancelarbtn" class="btn btn-secondary">Cancelar</button>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <button id="ordenarbtn" class="btn btn-secondary">Ordenar</button>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <button id="cuentabtn" class="btn btn-secondary">Cuenta</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-7 col-xl-7 p-1">
                <div class="row h-100">
                    <div class="col-md-12 col-lg-12 col-xl-12 d-flex flex-column ">
                      
                        <!--Seleccion de productos-->
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                                <ul class="nav nav-pills mb-3" id="pills-tab" style="overflow-x:scroll;" role="tablist">
                                    <li class="nav-item mr-1">
                                        <a class="nav-link active" id="pills-todo-tab" data-toggle="pill" href="#pills-todo" role="tab" aria-controls="pills-todo" aria-selected="true">Todo</a>
                                    </li>
                                    @foreach (var item in Model.Categorias)
                                    {
                                        <li class="nav-item mr-1">
                                            <a class="nav-link" id="pills-@item.Descripcion-tab" data-toggle="pill" href="#pills-@item.Descripcion" role="tab" aria-controls="pills-@item.Descripcion" aria-selected="false">@item.Descripcion</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>

                        <!--Productos-->
                        <div class="row flex-grow-1">
                            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                                <div class="tab-content tab-content-producto bg-light rounded h-100" id="pills-tabContent" style="border: 0px;">
                                    <div class="tab-pane fade show active" id="pills-todo" role="tabpanel" aria-labelledby="pills-todo-tab">
                                        <div class="row">
                                            @foreach (var categ in Model.Categorias)
                                            {
                                                @foreach (var producto in categ.Productos)
                                                {
                                                    <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2 p-2">
                                                        <a href="#" class="productolink" data-idproducto="@producto.IdProducto" data-idcuenta="@Model.IdCuenta">
                                                            <span class="ml-auto text-white" style="position:absolute; font-weight:bold">@producto.Precio</span>
                                                            @if (!string.IsNullOrEmpty(producto.Imagen))
                                                            {
                                                                <img class="rounded mx-auto d-block img-item" src="data:image/jpeg;base64,@producto.Imagen" />
                                                            }
                                                            else
                                                            {
                                                                <img class="rounded mx-auto d-block img-item" src="~/img/tomioka.jpg" />
                                                            }
                                                            <span class="text-dark producto-descrip">@producto.Descripcion</span>
                                                        </a>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                    @foreach (var categ in Model.Categorias)
                                    {
                                        <div class="tab-pane fade" id="pills-@categ.Descripcion" role="tabpanel" aria-labelledby="pills-@categ.Descripcion-tab">
                                            <div class="row">
                                                @foreach (var producto in categ.Productos)
                                                {
                                                    <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2 p-2">
                                                        <a href="#" class="productolink" data-idproducto="@producto.IdProducto" data-idcuenta="@Model.IdCuenta">
                                                            <span class="ml-auto text-white" style="position:absolute; font-weight:bold">@producto.Precio</span>
                                                            @if (!string.IsNullOrEmpty(producto.Imagen))
                                                            {
                                                                <img class="rounded mx-auto d-block img-item" src="data:image/jpeg;base64,@producto.Imagen" />
                                                            }
                                                            else
                                                            {
                                                                <img class="rounded mx-auto d-block img-item" src="~/img/tomioka.jpg" />
                                                            }
                                                            <span class="text-dark producto-descrip">@producto.Descripcion</span>
                                                        </a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          
            </div>
        </div>
    </div>
</div>

<!-- Modal de confirmacion de eliminacion-->
<partial name="~/Views/Admin/PartialViews/_ModalMensajeOrden.cshtml" />
    
<!-- Modal de impresion de orden-->
<partial name="~/Views/Admin/PartialViews/Orden/_ModalOrden.cshtml" />

@section script {
    <environment include="Development">
        <script src="~/lib/printThis/printThis.min.js"></script>
        <script src="~/js/site.js"></script>
        <script src="~/lib/select2/js/select2.min.js"></script>
    </environment>
    <environment include="Production">
        <script src="~/lib/printThis/printThis.min.js"></script>
        <script src="~/js/site.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    </environment>

    <script>
        var table;

        $(document).ready(function () {
            //Mesa select
            /*$('.select2-mesero').select2({
                minuminminimumResultsForSearch: Infinity,
                theme: 'bootstrap4',
                ajax: {
                    url: "",
                    dataType: 'json',
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                return {
                                    id: item.idMesa,
                                    text: item.descripcion
                                };
                            }),
                        };
                    }
                },
                placeholder: 'Selecciona una mesa',
            });*/

            //Datatable
            var _url = "@Url.Action("ListOfOrden","Cuenta")" + "/" +"@Model.IdCuenta";
            table = $('#datatable').DataTable({
                language: {
                    emptyTable: "No hay productos en la lista"
                },
                responsive: true,
                info: false,
                ordering: false,
                searching: false,
                paging: false,
                autoWidth: false,
                scrollY: 260,
                ajax: {
                    url: _url,
                    dataSrc: ''
                },
                initComplete: function (settings, json) {
                    actualizar();
                },
                createdRow: function (row, data, dataIndex) {
                    if (data.enviado == true) {
                        $(row).css('background-color', '#ff8080');
                    }
                },
                columnDefs: [
                    {
                        targets: [0,1,2,3],
                        visible: false
                    },
                ],
                columns: [
                    { data: 'idCuenta' },
                    { data: 'idOrden' },
                    { data: 'idDetalle' },
                    { data: 'idProducto' },
                    { data: 'descripcion' , width: "20%",responsivePriority: 1},
                    { data: 'precio', width: "4%", responsivePriority: 4},
                    {
                        data: {},
                        width: "2%",
                        responsivePriority: 3,
                        render: function (data, type, row, meta) {
                            if(data.enviado == false)
                                return '<input class="cantidadInput" size="2" style="border:0; background-color: white;" disabled value="' + data.cantidad + '" /> ';                                        
                            else
                                return data.cantidad;
                        }
                    },
                    { data: 'total' , width: "6%", responsivePriority:5},
                    {
                        data: {},
                        width: "2%",
                        responsivePriority: 2,
                        render: function (data, type, row, meta) {
                            if (data.enviado == false)
                                return '<input class="btn btn-danger btn-sm" type="button" value="X" onclick="borrar(' + data.idOrden + ',' + data.idDetalle + ')" />';
                            else
                                return '<input class="btn btn-danger btn-sm" type="button" hidden />';
                        }
                    }
                ]
            });

            //Actualiza la columna de total de la tabla
            $('#datatable tbody').on('change', '.cantidadInput', function () {
                var data = table.row($(this).parents('tr')).data();
                var cellIndex = table.cell($(this).parents('td')).index();

                var idorden = table.cell(cellIndex.row, 1).data();
                var iddetalle = table.cell(cellIndex.row, 2).data();

                var cantidadCell = table.cell(cellIndex.row, 6).nodes().to$().find('input').val();
                var precio = table.cell(cellIndex.row, 5).data();
                table.cell(cellIndex.row, 7).data(cantidadCell * precio).draw();
                actualizar();

                 $.ajax({
                    url: "@Url.Action("UpdateOrden","Cuenta")",
                    data: { idOrden: idorden, idDetalle: iddetalle, cantidad: cantidadCell },
                    error: function () {
                    },
                    success: function () {
                        
                    }
                });
            });


            $('.sidebar-toggler').click(function () {
                table.columns.adjust().responsive.recalc();
            });

            /*function hideSideBar(x) {
                if (x.matches) {
                    document.querySelector(".app").classList.add("sidebar-show");
                }
                else {
                    document.querySelector(".app").classList.remove("sidebar-show");
                    table.column(7).visible(false);
                    table.columns.adjust().draw( false );
                }
            }
            var mquery = window.matchMedia("(min-width: 769px)");
            hideSideBar(mquery);
            mquery.addEventListener(hideSideBar);*/
        });

        //Evento de seleccion de producto y lo agrega a la lista
        $('.productolink').click(function (e) {
            e.preventDefault();

            var model = {
                "IdCuenta": $(this).data('idcuenta'),
                "IdProducto": $(this).data('idproducto'),
                "Cantidad": 1
            };

            $.ajax({
                method: "POST",
                url: "@Url.Action("AddOrden","Cuenta")",
                headers: {
                    "Content-type": "application/json"
                },
                data: JSON.stringify(model),
                error: function () {
                },
                success: function () {
                    $('#datatable').DataTable().ajax.reload(actualizar);
                }
            });
        });

        //Abre modal de impresion de orden
        document.getElementById("ordenarbtn").addEventListener('click', () => {
            $('.print-orden').load("@Url.Action("TablaOrden","Cuenta", new { id = Model.IdCuenta })", () => {
                $('#myModal').modal({
                    keyboard: false,
                    backdrop: 'static'
                });
            });
        });        

        //borra una orden de la lista
        function borrar(idorden, iddetalle) {
            $.ajax({
                url: "@Url.Action("DeleteOrden","Cuenta")",
                data: { idOrden: idorden, idDetalle: iddetalle },
                error: function () {
                },
                success: function () {
                    $('#datatable').DataTable().ajax.reload(actualizar);                    
                }
            });
        }

        //Actualiza los totales y impuestos
        function actualizar() {
            document.getElementById("total-span").innerHTML = $('#datatable').DataTable().column(7).data().sum();
        }


        var parent;
        //Abre el modal para cancelar todas las ordenes actuales
        document.getElementById("cancelarbtn").addEventListener('click', function(e) {
            abrirModalBorrarImg("Seguro que desea cancelar la orden?", "/img/delete.png");
            parent = 1;
        });

        //Abre el modal para cancelar la cuenta actual y desocupar la mesa
        document.getElementById("cancelarcuentabtn").addEventListener('click', function (e) {            
            abrirModalBorrarImg("Seguro que desea cancelar la cuenta?", "/img/warning.png");
            parent = 2;
        });

        //Elimina todas las ordenes actuales
        document.getElementById("botonEliminar").addEventListener('click', function (e) {
            switch (parent) {
                case 1:
                    eliminar2("@Url.Action("CancelarOrden","Cuenta")", "datatable", @Model.IdCuenta);
                    toastr.success("Eliminado");
                    break;

                case 2:
                    $.ajax({
                        url: "@Url.Action("Delete","Cuenta")",
                        data: { id: @Model.IdCuenta },
                        error: function () {
                        },
                        success: function () {
                            window.location.replace("@Url.Action("SeleccionMesa","Admin")");
                        }
                    });
                    break;
            }          
        });

        //Imprime las ordenes
        document.getElementById("com-ordenar").addEventListener('click', () => {
            $('.print-orden').printThis();

            setTimeout(function () {
                $.ajax({
                    url: "@Url.Action("EnviarOrdenes","Cuenta")",
                    data: { id: @Model.IdCuenta },
                    error: function () {
                    },
                    success: function () {
                        $('#datatable').DataTable().ajax.reload(actualizar); 
                    }
                });
            },
                1000); 
        }); 
    </script>
}