@model Monografico.ViewModels.CuentaViewModel

@{
    ViewData["Title"] = "Lista de mesas";
}

@section link {
    <environment include="Development"> 
        <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
        <link href="~/lib/select2-bootstrap4-theme-master/dist/select2-bootstrap4.min.css" rel="stylesheet" />
    </environment>
    <environment include="Production">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
        <link href="~/lib/select2-bootstrap4-theme-master/dist/select2-bootstrap4.min.css" rel="stylesheet" />
    </environment>
}


<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-5 col-xl-5 p-1">
                <div class="row">
                    <div class="col-md-12">
                        <!--Acciones-->
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <a asp-action="SeleccionMesa" asp-controller="Admin" class="btn btn-secondary btn-block">Mesas</a>
                            </div>
                            <div class="col-md-6">
                                <button id="liberar-mesa-btn" class="btn btn-secondary btn-block">Liberar mesa</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label">Mesero</label>
                                <span>Uno ahi</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label">Mesa:</label>
                                <span>@Model.Mesa</span>
                            </div>
                        </div>

                        <!-- Ordenes -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive-sm">
                                    <table id="datatable" width="100%" class="table table-sm table-bordered">
                                        <thead>
                                            <tr>
                                                <th>
                                                    IdCuenta
                                                </th>
                                                <th>
                                                    IdOrden
                                                </th>
                                                <th>
                                                    IdDetalle
                                                </th>
                                                <th>
                                                    IdProducto
                                                </th>
                                                <th>
                                                    Producto
                                                </th>
                                                <th>
                                                    Precio
                                                </th>
                                                <th>
                                                    Cantidad
                                                </th>
                                                <th>
                                                    Total
                                                </th>
                                                <th>
                                                    Enviado
                                                </th>
                                                <th>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>

                                <hr />
                            </div>
                        </div>

                        <!--Total-->
                        <div class="row mb-2">
                            <div class="col-12">
                                <div class="row justify-content-between">
                                    <div class="col-md-3">
                                        <label>Total:</label>                                            
                                    </div>
                                    <div class="col-md-4">
                                        <span id="total-span" class="ml-auto">0</span>
                                    </div>
                                </div>

                                <div class="row justify-content-between">
                                    <div class="col-md-3">
                                        <label>Descuento:</label>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group input-group-sm">
                                            <input id="descuento-inp" type="number" class="form-control" value="0" min="0" />
                                            <div class="input-group-append">
                                                <div class="input-group-text">%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <hr />
                            </div>
                        </div>

                        <!--Acciones-->
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <button id="cancelarbtn" class="btn btn-danger"><i class="fa fa-trash"></i>Cancelar</button>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <button id="ordenarbtn" class="btn btn-secondary"><i class="fa fa-sticky-note"></i>Ordenar</button>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <button id="cuentabtn" class="btn btn-secondary">
                                    <i class="fa fa-money"></i>Cuenta
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                                    <span class="sr-only">Loading...</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-7 col-xl-7 p-1">
                <div class="row h-100">
                    <div class="col-md-12 col-lg-12 col-xl-12 d-flex flex-column ">
                      
                        <!--Seleccion de productos-->
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                                <ul class="nav nav-pills mb-3" id="pills-tab" style="overflow-x:scroll;" role="tablist">
                                    <li class="nav-item mr-1">
                                        <a class="nav-link active" id="pills-todo-tab" data-toggle="pill" href="#pills-todo" role="tab" aria-controls="pills-todo" aria-selected="true">Todo</a>
                                    </li>
                                    @foreach (var item in Model.Categorias)
                                    {
                                        <li class="nav-item mr-1">
                                            <a class="nav-link" id="pills-@item.Descripcion-tab" data-toggle="pill" href="#pills-@item.Descripcion" role="tab" aria-controls="pills-@item.Descripcion" aria-selected="false">@item.Descripcion</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>

                        <!--Productos-->
                        <div class="row flex-grow-1">
                            <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
                                <div class="tab-content tab-content-producto bg-light rounded h-100" id="pills-tabContent" style="border: 0px;">
                                    <div class="tab-pane fade show active" id="pills-todo" role="tabpanel" aria-labelledby="pills-todo-tab">
                                        <div class="row">
                                            @foreach (var categ in Model.Categorias)
                                            {
                                                @foreach (var producto in categ.Productos)
                                                {
                                                    <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2 p-2">
                                                        <a href="#" class="productolink" data-idproducto="@producto.IdProducto" data-idcuenta="@Model.IdCuenta">
                                                            <span class="ml-auto text-white" style="position:absolute; font-weight:bold">@producto.Precio</span>
                                                            @if (!string.IsNullOrEmpty(producto.Imagen))
                                                            {
                                                                <img class="rounded mx-auto d-block img-item" src="data:image/jpeg;base64,@producto.Imagen" />
                                                            }
                                                            else
                                                            {
                                                                <img class="rounded mx-auto d-block img-item" src="~/img/tomioka.jpg" />
                                                            }
                                                            <span class="text-dark producto-descrip">@producto.Descripcion</span>
                                                        </a>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                    @foreach (var categ in Model.Categorias)
                                    {
                                        <div class="tab-pane fade" id="pills-@categ.Descripcion" role="tabpanel" aria-labelledby="pills-@categ.Descripcion-tab">
                                            <div class="row">
                                                @foreach (var producto in categ.Productos)
                                                {
                                                    <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2 p-2">
                                                        <a href="#" class="productolink" data-idproducto="@producto.IdProducto" data-idcuenta="@Model.IdCuenta">
                                                            <span class="ml-auto text-white" style="position:absolute; font-weight:bold">@producto.Precio</span>
                                                            @if (!string.IsNullOrEmpty(producto.Imagen))
                                                            {
                                                                <img class="rounded mx-auto d-block img-item" src="data:image/jpeg;base64,@producto.Imagen" />
                                                            }
                                                            else
                                                            {
                                                                <img class="rounded mx-auto d-block img-item" src="~/img/tomioka.jpg" />
                                                            }
                                                            <span class="text-dark producto-descrip">@producto.Descripcion</span>
                                                        </a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          
            </div>
        </div>
    </div>
</div>

<!-- Modal de confirmacion de impresion de cuenta-->
<partial name="~/Views/Admin/PartialViews/Orden/_ModalConfirmarPago.cshtml" />
    
    <!-- Modal de confirmacion de impresion de cuenta-->
<partial name="~/Views/Admin/PartialViews/Orden/_ModalConfirmacionCuenta.cshtml" />
    
    <!-- Modal de confirmacion de eliminacion-->
<partial name="~/Views/Admin/PartialViews/Orden/_ModalMensaje.cshtml" />
    
<!-- Modal de impresion de orden-->
<partial name="~/Views/Admin/PartialViews/Orden/_ModalTicket.cshtml" />

@section script {
    <environment include="Development">
        <script src="~/lib/printThis/printThis.min.js"></script>
        <script src="~/js/site.js"></script>
        <script src="~/lib/select2/js/select2.min.js"></script>
    </environment>
    <environment include="Production">
        <script src="~/lib/printThis/printThis.min.js"></script>
        <script src="~/js/site.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    </environment>

    <script>
        var table;

        $(document).ready(function () {
            //Datatable
            var _url = "@Url.Action("ListOfOrden","Cuenta")" + "/" +"@Model.IdCuenta";
            table = $('#datatable').DataTable({
                language: {
                    emptyTable: "No hay productos en la lista"
                },
                responsive: true,
                info: false,
                ordering: false,
                searching: false,
                paging: false,
                autoWidth: false,
                scrollY: 260,
                ajax: {
                    url: _url,
                    dataSrc: ''
                },
                initComplete: function (settings, json) {
                    actualizar();
                },
                createdRow: function (row, data, dataIndex) {
                    if (data.enviado == true) {
                        $(row).css('background-color', '#ff8080');
                    }
                },
                columnDefs: [
                    {
                        targets: [0,1,2,3,8],
                        visible: false
                    },
                ],
                columns: [
                    { data: 'idCuenta' },
                    { data: 'idOrden' },
                    { data: 'idDetalle' },
                    { data: 'idProducto' },
                    { data: 'descripcion' , width: "20%",responsivePriority: 1},
                    { data: 'precio', width: "4%", responsivePriority: 4, render: $.fn.dataTable.render.number( ',', '.', 2, '$' ) },
                    {
                        data: {},
                        width: "2%",
                        responsivePriority: 3,
                        render: function (data, type, row, meta) {
                            if(data.enviado == false)
                                return '<input class="cantidadInput" size="2" style="border:0; background-color: white;" disabled value="' + data.cantidad + '" /> ';                                        
                            else
                                return data.cantidad;
                        }
                    },
                    { data: 'total' , width: "6%", responsivePriority:5, render: $.fn.dataTable.render.number( ',', '.', 2, '$' )},
                    { data: 'enviado'},
                    {
                        data: {},
                        width: "2%",
                        responsivePriority: 2,
                        render: function (data, type, row, meta) {
                            if (data.enviado == false)
                                return '<input class="btn btn-danger btn-sm" type="button" value="X" onclick="borrar(' + data.idOrden + ',' + data.idDetalle + ')" />';
                            else
                                return '<input class="btn btn-danger btn-sm" type="button" hidden />';
                        }
                    }
                ]
            });

            //Actualiza la columna de total de la tabla
            $('#datatable tbody').on('change', '.cantidadInput', function () {
                var data = table.row($(this).parents('tr')).data();
                var cellIndex = table.cell($(this).parents('td')).index();

                var idorden = table.cell(cellIndex.row, 1).data();
                var iddetalle = table.cell(cellIndex.row, 2).data();

                var cantidadCell = table.cell(cellIndex.row, 6).nodes().to$().find('input').val();
                var precio = table.cell(cellIndex.row, 5).data();
                table.cell(cellIndex.row, 7).data(cantidadCell * precio).draw();
                actualizar();

                 $.ajax({
                    url: "@Url.Action("UpdateOrden","Cuenta")",
                    data: { idOrden: idorden, idDetalle: iddetalle, cantidad: cantidadCell },
                    error: function () {
                    },
                    success: function () {
                        
                    }
                });
            });


            $('.sidebar-toggler').click(function () {
                table.columns.adjust().responsive.recalc();
            });

        });

        //Evento de seleccion de producto y lo agrega a la lista
        $('.productolink').click(function (e) {
            e.preventDefault();

            var model = {
                "IdCuenta": $(this).data('idcuenta'),
                "IdProducto": $(this).data('idproducto'),
                "Cantidad": 1
            };

            $.ajax({
                method: "POST",
                url: "@Url.Action("AddOrden","Cuenta")",
                headers: {
                    "Content-type": "application/json"
                },
                data: JSON.stringify(model),
                error: function () {
                },
                success: function () {
                    $('#datatable').DataTable().ajax.reload(actualizar);
                }
            });
        });

        //Abre modal de impresion de orden y lo envia a la cocina
        document.getElementById("ordenarbtn").addEventListener('click', () => {
            $('.imprimible').load("@Url.Action("TicketOrden","Cuenta", new { id = Model.IdCuenta })", () => {
                $('#myModal').modal({
                    keyboard: false,
                    backdrop: 'static'
                });
            });
        });  



        //Abre modal para imprimir cuenta
        var cuentabtn = document.getElementById("cuentabtn");
        cuentabtn.addEventListener('click', function (e) {
            $('#modal-cuenta').modal({
                keyboard: false,
                backdrop: 'static'
            });      
        });

        //Crea e imprime la factura de la cuenta
        document.getElementById("imprimir-btn").addEventListener('click', function (e) {
            var table = $('#datatable').DataTable();

            var data = table.rows().data().filter(function (data, index) {
                return data.enviado === true ? true : false;
            });

            var sum = table.cells(function (index, data, node) {
                                return table.row(index).data().enviado === true ? true : false;
                            }, 7, { search: 'applied' })
                                .data()
                                .sum().toFixed(2);

            var ordenes = [];

            for (let i = 0; i < data.length; i++) {
                ordenes.push(data[i]);
            }

            //console.log(ordenes);

            var model = {
                "IdCuenta": @Model.IdCuenta,
                "Mesa": "@Model.Mesa",
                "Monto": sum,
                "Descuento": document.getElementById("descuento-inp").value,
                "Ordenes": ordenes
            };

            $.ajax({
                method: "POST",
                url: "@Url.Action("Create","Factura")",
                data: JSON.stringify(model),
                headers: {
                    "Content-type": "application/json"
                },
                error: function () {
                },
                success: function (response) {
                    var $div = $('<div></div>');
                    $div.html(response);
                    $div.printThis();
                    $div.remove();

                    document.querySelector(".modal-cuenta-mensaje").classList.add("d-none");
                    document.querySelector(".modal-cuenta-progress").classList.remove("d-none");

                    setTimeout(function () {
                        $("#modal-cuenta").modal('hide');

                        $('#modal-cp-body').load("@Url.Action("ConfirmarPago","Factura", new { idCuenta = Model.IdCuenta })", () => {
                            $('#modal-cp').modal({
                                keyboard: false,
                                backdrop: 'static'
                            });
                        });
                        @*window.location.href= "@Url.Action("ConfirmarPago","Factura", new { idCuenta = Model.IdCuenta })";*@
                    },1000);
                }
            });      
        });


        //Imprime las ordenes
        document.getElementById("com-ordenar").addEventListener('click', () => {
            $('.imprimible').printThis();

            setTimeout(function () {
                $.ajax({
                    url: "@Url.Action("EnviarOrdenes","Cuenta")",
                    data: { id: @Model.IdCuenta },
                    error: function () {
                    },
                    success: function () {
                        $('#datatable').DataTable().ajax.reload(actualizar);
                        $('#myModal').modal('hide');
                    }
                });
            },
                1000); 
        }); 



        //borra una orden de la lista
        function borrar(idorden, iddetalle) {
            $.ajax({
                url: "@Url.Action("DeleteOrden","Cuenta")",
                data: { idOrden: idorden, idDetalle: iddetalle },
                error: function () {
                },
                success: function () {
                    $('#datatable').DataTable().ajax.reload(actualizar);                    
                }
            });
        }

     
        var parent;
        //Abre el modal para cancelar todas las ordenes actuales
        document.getElementById("cancelarbtn").addEventListener('click', function(e) {
            abrirModalMensaje("Seguro que desea cancelar la orden?", "/img/delete.png");
            parent = 1;
        });

        //Abre el modal para cancelar la cuenta actual y desocupar la mesa
        document.getElementById("liberar-mesa-btn").addEventListener('click', function (e) {            
            abrirModalMensaje("Seguro que desea cancelar la cuenta?", "/img/warning.png");
            parent = 2;
        });

        //Evento del boton eliminar del modal mensaje
        document.getElementById("botonEliminar").addEventListener('click', function (e) {
            switch (parent) {
                case 1:
                    var table = $('#datatable').DataTable();
                    var lenght = table.rows().data().filter(function (data, index) {
                        return data.enviado === true ? true : false;
                    }).length;

                    if (lenght > 0) {
                        cancelarOrdenes("@Url.Action("CancelarOrden","Cuenta")",
                                    "datatable", @Model.IdCuenta, actualizar);
                    }
                    else {
                        eliminarOrdenes("@Url.Action("CancelarOrden","Cuenta")", "datatable", @Model.IdCuenta,actualizar);                        
                    }
                    
                    break;

                case 2:
                    var table = $('#datatable').DataTable();
                    var lenght = table.rows().data().filter(function (data, index) {
                        return data.enviado === true ? true : false;
                    }).length;

                    if (lenght > 0) {
                        cerrarModalMensaje();
                        toastr.warning("Hay ordenes pendientes");
                    }
                    else {  
                        $.ajax({
                            url: "@Url.Action("Delete","Cuenta")",
                            data: { id: @Model.IdCuenta },
                            error: function () {
                            },
                            success: function () {
                                window.location.replace("@Url.Action("SeleccionMesa","Admin")");
                            }
                        });
                    }
                    
                    break;
            }          
        });
        
  

         //Actualiza los totales y impuestos
        function actualizar() {
            var table = $('#datatable').DataTable();
            var sum = table.column(7).data().sum().toFixed(2);
                                      
            document.getElementById("total-span").innerHTML = sum;

                //$('#datatable').DataTable().column(7).data().sum();

            var descuentoInput = document.getElementById("descuento-inp");
            descuentoInput.value = (sum > 0) ? descuentoInput.value : 0;
        }


        //Cancela y elimina las ordenes e imprime un ticket de cancelacion de orden.
        function cancelarOrdenes(_url, table, id,callback) {
            var url = _url;
            $.ajax({
                url: url,
                data: { id: id, ordenPendiente: true },
                error: function (response) {
                    $('#borrarModal').modal('hide');
                    //toastr.error("Error al borrar");
                    //alert(response);
                },
                success: function (response) {
                    var $div = $('<div></div>');

                    $div.html(response);
                    $div.printThis();
                    $div.remove();

                    $('#' + table).DataTable().ajax.reload(callback);
                    $('#borrarModal').modal('hide');    
                    toastr.success("Eliminado");
                }
            });
        }
    </script>
}