@model IEnumerable<Monografico.Models.Producto>

@{
    ViewData["Title"] = "Producto";
}

@section link {
    <environment include="Development">
        <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
        <link href="~/lib/select2-bootstrap4-theme-master/dist/select2-bootstrap4.min.css" rel="stylesheet" />
    </environment>
    <environment include="Production">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
        <link href="~/lib/select2-bootstrap4-theme-master/dist/select2-bootstrap4.min.css" rel="stylesheet" />
    </environment>
}

<div class="card">
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-md-3">
                <a asp-action="List" asp-controller="Producto">Link</a>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" onclick="abrirModal();">
                    Agregar Producto
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="producto-datatable" width="100%" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.IdProducto)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Descripcion)

                                </th>
                                <th>
                                    Imagen
                                </th>
                                <th>
                                    Categoria
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Precio)
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>      
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<partial name="~/Views/Admin/PartialViews/_Modal.cshtml" />
    
<!-- Modal-lg -->
<partial name="~/Views/Admin/PartialViews/_ModalLarge.cshtml" />

<!-- Modal de confirmacion de eliminacion-->
<partial name="~/Views/Admin/PartialViews/_ModalDelete.cshtml" />

@section script {
    
    <script src="~/js/site.js"></script>
    <environment include="Development">
        <script src="~/lib/select2/js/select2.min.js"></script>
    </environment>
    <environment include="Production">
        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    </environment>

    <script>

        //Carga la tabla cuando el documento html esta cargado
        $(document).ready(() => {
            $('#producto-datatable').DataTable({
                responsive: false,
                ajax: {
                    url: "@Url.Action("List","Producto")",
                    dataSrc: ''
                },
                columnDefs: [
                    {
                        targets: 0,
                        visible: false
                    }
                ],
                columns: [
                    { data: 'idProducto' },
                    { data: 'descripcion', responsivePriority: 1 },
                    {
                        data: 'imagenEncoded',
                        responsivePriority: 3,
                        render: function (data, type, row, meta) {
                            var src;
                            if (data == null)
                                src = "/img/tomioka.jpg";
                            else
                                src = 'data:image/jpeg;base64,' + data;
                            return '<img class="rounded mx-auto d-block" src="' + src + '" width="60px" height="60px" />';
                        }
                    },
                    { data: 'categoria', responsivePriority: 4 },
                              
                    { data: 'precio', responsivePriority: 5, width: "5%", },
                    {
                        data: {
                        },
                        width: "20%",
                        responsivePriority: 2,
                        render: function (data, type, row, meta) {
                            var template;
                            var url = "@Url.Action("Ingredientes,Producto")";
                            if (data.llevaIngredientes) {
                                template = '<input onclick="abrirModalIngrediente('+ data.idProducto +')" class="btn btn-primary" type="button" value="Ingredientes" /> ' +
                                    '<input onclick="abrirModalEditar(' + data.idProducto + ')" class="btn btn-primary" type="button" value="Edit" /> ' +
                                    '<input onclick="abrirModalBorrar(' + data.idProducto + ')" class="btn btn-danger" type="button" value="Borrar" />';
                            }
                            else {
                                template = '<input onclick="abrirModalEditar(' + data.idProducto + ')" class="btn btn-primary" type="button" value="Edit" /> ' +
                                            '<input onclick="abrirModalBorrar(' + data.idProducto + ')" class="btn btn-danger" type="button" value="Borrar" />';                                  
                            }
                            return template;
                        }
                    }
                ]
            });
        });

        function abrirModal() {
            agregarCrear("@Url.Action("Create","Producto")");                         
        }

        function abrirModalEditar(id) {
            agregarEditar(id, "@Url.Action("Edit","Producto")");
        }

        function abrirModalIngrediente(id) {
            agregarIngredientes(id, "@Url.Action("Ingredientes","Producto")");
        }


        document.getElementById("botonEliminar").addEventListener('click', () => {
            eliminar("@Url.Action("Delete","Producto")", "producto-datatable");
        });
    </script>
}